  * {
        margin: 0;
        padding: 0;
        }
        a{
            text-decoration: none;
        }
        li{
            list-style: none;
        }
        .ad{
            text-align: center;
            vertical-align: middle;
            height: 80px;
            margin: 0;
        }
        .navbar{
           min-width: 500px;
           height: 50px;
           background-color: red;
           margin: 0 auto;
           /* margin-top: -5px; */
           
        }
        .navbar .top_navbar {
            width: 1190px;
            margin: 0 auto;
        }
        .navbar .top_navbar a{
            float: right;
            background-color: pink;
            color: #ccc;
            padding: 15px 10px;
        }
        .navbar .top_navbar a:last-of-type{
            float: left;
            position: relative;
            left: 210px;
            background-color: black;
            behavior:url('PIE/PIE.htc');
        }
        .middle{
            width: 1190px;
            height: 100%;
            margin: 0 auto;
        }
        .left_navbar{
            float: left;
            position: relative;
            top: -50px;
            height: 600px;
            width: 190px;
            background-color: black;
        }
        .middle_content{
            width: 810px;
            height: 550px;
            background-color:palegreen;
            float: left;
        }
        .middle_top{
            height: 150px;
            width: 810px;
            background-color:pink;
        
        }
        .middle_bottom{
            height: 400px;
            width: 810px;
            background-color:palegoldenrod;
         

        }
        .right_navbar{
            height:550px;
            width: 190px;
            background-color:orange;
            float: right;
        }


        #test {
            width: 50px;
            height: 50px;
            border: 1px solid #999;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            /* behavior:url('PIE/PIE.htc'); */
}