* {
    margin: 0;
    padding: 0;
    }
    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    .ad{
        text-align: center;
        vertical-align: middle;
        height: 80px;
        margin: 0;
    }
    .navbar{
       min-width: 1190px;
       height: 50px;
       background-color: red;
       margin: 0 auto;
       /* margin-top: -5px; */
       overflow: hidden;
       
       
    }
    .navbar .top_navbar {
        width: 1190px;
        margin: 0 auto;
    }
    .navbar .top_navbar a{
        float: right;
        background-color: pink;
        color: #ccc;
        padding: 16px 10px;
    }
    .navbar .top_navbar a:last-of-type{
        float: left;
        position: relative;
        left: 210px;
        background-color: black;
        behavior:url('PIE/PIE.htc');
    }
    .middle{
        width: 1190px;
        background-color: aqua;
        margin: 0 auto;
        
        
    }
    .left_navbarContent{
        float: left;
        position: relative;
        top: -50px;
        height: 700px;
        width: 190px;
        background-color:firebrick;
        clear: both;
    }
    .left_navbarContent .head{
        background-image: url('../image/sprite.head.png');
        width: 190px;
        height: 200px;
        background-color: #999;
    }
    .left_navbarContent .head_underline{
        width: 170px;
        margin: 0 auto;
        height: 1px;
        background-color: #ccc;
    }
   
    .left_navbarContent .left_navbar ul,.left_navbar li,.left_navbar ul>span{
        float: left;

    }
    .left_navbarContent .left_navbar ul{
        text-align: center;
        width: 186px;
        height: 25px;
        background-color: antiquewhite;
        padding: 2px;    
            
        
    }
    .left_navbarContent .left_navbar ul>li:first-of-type{
         margin-left:10px;
         
                }
    .middle_content{
        width: 810px;
        height: 550px;
        background-color:palegreen;
        float: left;

    }
    /* .middle_top */
    .middle_top{
        height: 150px;
        width: 1000px;
        background-color:pink;
        
    
    }
    .middle_top .part1{
        width: 850px;
        height: 100px;
        background-color: cadetblue;
        
        float: right;
    }
    .middle_top .part1 .search {
        width: 535px;
        height: 45px;
        float: left;
        background-color: red;
    }
    .middle_top .part1 .search input{
        width: 450px;
        height: 45px;
        float: left;
    }
    .middle_top .part1 .cart{
        width: 200px;
        height: 45px;
        background-color: white;
        float: left;
        margin-left: -20px;
       
    }
    .middle_top .part1 .erwei{
        width: 70px;
        height: 70px;
        background-color: white;
        background-image: url(../image/mobile_qrcode.png);
        float: right;
        
    }
    .middle_top .part1 .under_searchnav{
        
        width: 500px;
        height: 30px;
        background-color: #ccc;
        
    }
    .middle_top .part1 .under_searchnav a{
        
        color: red;
        font-size: 10px;
        
    }
    .middle_top .part2 {
        width: 800px;
        height: 50px;
        float: left;
        position: relative;
        top: 20px;
        background-color: #999;
        
    }
    .middle_top .part2 a:first-of-type{
        margin-left: 50px;
        
    }
    .middle_content .bottom{
       width: 1000px;
       height: 500px;
       background-color: blue; 
       
    }
    .middle_bottom{
        height: 480px;
        width: 810px;
        background-color:palegoldenrod;
       float: left;
       margin-top: 20px;

    }
    .middle_bottom .lunbo{
        width: 580px;
        height: 470px;
        overflow: hidden;
        float: left;
        margin-left: 13px;
        margin-right: 13px;
        margin-top: 10px;
    }
    .middle_bottom .lunbo img{
        width: 580px;
        height: 500px;
        overflow: hidden;
        float: left;
       
    }
    
    .middle_bottom .lunbo_right img{
        width: 190px;
        height:auto;
        float: left;
        margin-top: 10px;
    }
    .right_navbar{
        height:450px;
        width: 190px;
        background-color:orange;
        float:right;

        
    }
    .head{
        background-color: bisque;
        width: 190px;
        height: 180px;
    }
    .head .headPic{
        text-align: center;
        vertical-align: middle;
        margin: 0 auto; 
    }
    .head .headPic img{
        position: relative;
        top: -5px;
        border-radius: 50%;
        width: 65px;
        height: 65px;
        border: 2px #999;
        -webkit-box-shadow: 2px 5px 10px #ccc;
                box-shadow: 2px 5px 10px #ccc;
        behavior:url('../ie/PIE.htc');
    }
    .head .huanying{
        width: 190px;
        height: 50px;
        
        position: relative;
       
        top: 10px;

        
    }
    .head .huanying div{
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
    }
    .head .huanying .head_btn{
        width: 190px;
        height: auto;
        position: relative;
        top: 10px;
        
    }

    .head .huanying .head_btn a{
        padding: 5px 9px;
        background-color: red;
        border-radius: 20px;
        -webkit-box-shadow: 2px 5px 10px #999;
                box-shadow: 2px 5px 10px #999;
        behavior:url('../ie/PIE.htc');
    }
    .board {
        width: 190px;
        height: 120px;
        overflow: hidden;
        background-color: #ccc;
    }
    .board .board_nav{
        width: 190px;
        height: 20px;
        background-color: blue;
       
    }
    .board .board_nav>a{
        float: left;
        
    }
    .board .board_nav>a:hover{
        border-bottom: 2px solid red;
    }
    .board .board_nav>a:last-of-type{
        float: right;
        
    }
    
    .board ul li{
        margin: 5px 0px;
    }
    .space_hr{
        
        margin: 0 auto;
        width: 170px;
        height: 1px;
        background-color: #ccc;
    }
    .picNav{
        width: 190px;
        height: 200px;
        background-color: blue;
    }
    .picNav>ul{
        float: left;
        
        position: relative;
        left: 10px;
    }
    .picNav li{
        padding: 5px;
        margin-top: 15px;
    }
    .picNav li>a{
        position: relative;
        top:20px;
        left: -22px;
    }
   
    
  
    


    #test {
        width: 50px;
        height: 50px;
        border: 1px solid #999;
        border-radius: 50px;
         behavior:url('../ie/PIE.htc');
         
         
}